<!DOCTYPE html>
<html lang="en" >
    <head>
        <title>TheEasyShopping.com</title>
        <link rel="icon"  type="image/png" href="/websiteLogo.png">
        <script src="/js/jquery-3.5.1.min.js"></script> 
         <link rel="stylesheet" href="/css/bootstrap.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.js"></script>
        <script src='/js/loadHeader.js'></script> 
   
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <style>
       html,#mainBody{height:100%;width: 100%;}
       #categories{height: 100%;width: 20%; float: left;}
       #products{height: 100%;width:auto;background-color: white;}
          </style> 
    </head>

    <body id="mainBody">
        <div class="">
        <div id="includedContent" ></div>
        </div>
        <!-- Categories Section -->
        <div class="wrapper">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
                <div class="container-fluid ">
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbaraid">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse " id="navbaraid">
                        <ul class="navbar-nav  text-center ">
                            <li class="nav-item">
                                <a href="#" class="nav-link">All Categories</a></li>
                                
                                <% for(var i=0;i<dataC.categories.data1.length;i++) { %>
                                    <% if(dataC.categories.data1[i].flag==1){ %>
                                      <li class="nav-item">
                                          <div class="dropdown"><a  class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" >
                                              <%= dataC.categories.data1[i].name %>   
                                    </a>
                                    <div class="dropdown-menu bg-info text-center">
                                        <% for(var j=0;j<dataC.categories.data2.length;j++) { %>
                                            <% if(dataC.categories.data1[i]._id==dataC.categories.data2[j].CatId){ %>
                                                <a class="dropdown-item" href="/products?cId=<%= dataC.categories.data2[j]._id %>"><%= dataC.categories.data2[j].name %></a>
                                            <% } %>
                                        <% } %>
                                      </div>    
                                    </div></li>  

                                  <%} } %>
                                
                                 
                            </li>
                        </ul>
                    </div>
                </div>

            </nav>
        </div>
        <!-- end of categories section -->
        <div class="row justify-content-center" id="pContainer">
            <%for(let i=0;i<dataC.products.length;i++){%>
             <a style="text-decoration: none;" class="m-1" href="/product?p=<%= dataC.products[i]._id %>">
          <div class="card" style="width: 20rem;">      
        <img class="card-img-top" src="/pImg/<%= dataC.products[i].images[0].filename%>" alt="Product Image">
        
            
            <div class="card-body">
              <p class="card-text text-success text-center h3"><%=dataC.products[i].name%></p>
              <p class=" card-text text-right text-danger"><%=dataC.products[i].price%>&nbsp;&#8377;</p>
    
            </div>
          </div></a>
            <%}%></div>
        <script  src="/js/dProductList.js"></script>                              
    </body>
 </html>