<!DOCTYPE html>
<html lang="en" >
    <head>
        <title>TheEasyShopping.com</title>
        <script src="/js/jquery-3.5.1.min.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.js"></script>
        <script src='/js/loadHeader.js'></script> 
   
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <style>
       html,#mainBody{height:100%;width: 100%;}
       #products{height: 100%;width:auto;background-color: white;}
       .carousel-inner img {
        width: 100%;
        height: 100%;
         }
        
          </style> 
    </head>

    <body id="mainBody">
        <div id="includedContent" ></div><br>
        <div class="row justify-content-center">
            <%for(var i=0;i<ordersP.length;i++){%>
              <a style="text-decoration: none;" href="/product?p=<%=ordersP[i].pId%>">
                <div class="card p-3 m-1" style="width: 18rem;">
                    <img class="card-img-top" src="/pImg/<%=ordersP[i].image%>" alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                        <span>Quantity:<%=ordersP[i].quantity%></span>
                        <span><%=ordersP[i].price*ordersP[i].quantity%>&nbsp;&#8377;</span></div>
                         <br> <div class="d-flex justify-content-between"><span ><%=ordersP[i].date%></span>
                           <%if(ordersP[i].status==0){%>
                             <span>inProcessing</span>
                             <%}%>
                             <%if(ordersP[i].status==1){%>
                                <span>Delivery Soon</span>
                                <%}%>
                                <%if(ordersP[i].status==2){%>
                                  <span>Delivered</span>
                                  <%}%>
                    </div></div>
                  </div></a>        
            <%}%></div>
          </table><br>
    </body>
 </html>