<!DOCTYPE html>
<html lang="en" >
    <head>
        <title>TheEasyShopping</title>
        <script src="/js/jquery-3.5.1.min.js"></script>
        <link rel="icon"  type="image/png" href="/websiteLogo.png">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.js"></script>
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
       fkjfdhjkafhsdhfkhfkshf -->
        <script src='/js/loadHeader.js'></script> 
   
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <style>
       html,#mainBody{height:100%;width: 100%;}
       #products{height: 100%;width:auto;background-color: white;}
       .carousel-inner img {
        width: 100%;
        height: 100%;
         }
          .carousel-control-next,
          .carousel-control-prev {
          filter: invert(100%);
            }
        
          </style> 
    </head>

    <body id="mainBody">
        <div id="includedContent" ></div><br>
        <!-- Name OF Product -->
        <div class="row" >
        <div class="card col-sm-6 col-lg-4 mx-auto " style="background-color: powderblue;">
            <div class="card-body">
                <h1 class="text-center text-success"><%=data[0].name%></h1>
            </div>
        </div></div><br>
        <!-- image Slider -->
        <div class="row" id="product-images">
            <div class="col-sm-8 mx-auto">
        <div id="pImages" class="carousel slide" data-ride="carousel" data-interval="false">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <%for(let i=0;i<data[0].images.length;i++){%>
              <li data-target="#pImages" data-slide-to="<%i%>" <%if(i==0){%>class= " active"<%}%>  ></li>
              <%}%>
            </ul>
            
            <!-- The slideshow -->
            
            <div class="carousel-inner">
                <%for(let i=0;i<data[0].images.length;i++){%>
              <div class="carousel-item<%if(i==0){%> active<%}%>">
                <img src="/pImg/<%=data[0].images[i].filename%>" alt="product-image" width="1100" height="500">
              </div>
              <%}%>
            </div>
            
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#pImages" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#pImages" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div></div></div><br>
          <div class="row justify-content-center">
            <span class="h3 text-danger">Price:&nbsp;<%=data[0].price%>&nbsp;&#8377;</span></div>
          <!-- messages --><br>
          <div class="row">
          <div id="msg" class="col-sm-8 col-lg-5 mx-auto" ></div></div>
          <!-- Buy and Add to cart Buttons -->
          <div class="row justify-content-center">
            
            <a class="btn btn-success mr-4" href="/user/buy?pId=<%=data[0]._id%>" >Buy Now</a>
              
            <button type="button" class="btn btn-success cart" id="<%=data[0]._id%>" >Add to Cart</button>
            </div>
            <br>
          <!-- Product Description -->
          <div class="row">
          <div class="card text-center col-sm-10 col-lg-8 mx-auto" style="background-color: powderblue;">
            <div class="card-header ">
             <p class="h3"> Description</p>
            </div>
            <div class="card-body ">
              <%var desc=data[0].desc.split("\r")%>
              <ul class="card-text" style="list-style-type:none;">
                <%for(let i=0;i<desc.length;i++){%>
                  <li class="h4"><%=desc[i]%></li>
                  <%}%>
              </ul>
              </div> 
            </div>
          </div><br>
          
         
          <script src="/js/buyProduct.js"></script>
          <script src="/js/addCart.js"></script>
    </body>
 </html>